<div class="container">
  <div class="jumbotron-fluid alert alert-danger mt-3">
    <h1 class="text-uppercase font-weight-bold"><%= @user.first_name %> <%= @user.last_name %></h1>
    <div class="card mb-3" style="max-width: 450px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <%= image_tag 'users/identity_photo.jpeg', class: 'card-img'%>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-texte"><%= @user.description %></p>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-4">
    <p class="h6"><span class="font-weight-bold">Email : </span><%= @user.email %></p>
  </div>
</div>
